@import "~@fortawesome/fontawesome-free/css/all.min.css";
h1 {
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
    font-weight: 700;
    font-style: oblique;
  }
  h2 { 
    text-align: center;
  }
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 8px;
    background-color: #007bff;
    margin-left: -8px;
    margin-right: -9px;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .navbar-link:hover {
    background-color: #007bff;
  }
  

  .epic-transit-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
  }
  
  .header {
    width: 100%;
    
  }

  .header img {
    width: 100%;
    height: 300px;
  }

  .imageContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .imageContainer img {
    width: 30%;
    margin-right: 10px;
  }
  .copyright{
    background-color: #007bff;
    text-align: center;
  }
 
  .about {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .about > * {
    flex: 1;
    margin: 0 10px;
  }

  .App {
    text-align: center;
  }
  
  .social-icons {
    margin-top: 20px;
    
  }
  
  .social-icons a {
    color: #161313;
    margin-right: 10px;
    font-size: 59px;
    transition: color 0.3s ease-in-out;
    
  }
  
  .social-icons a:hover {
    color: #000000;
  }

.head {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -8px;
}

.head img {
  width: 100%;
  height: 400px;
  display: block;
  padding: 5px;
  
}
.text-overlay {
  position: absolute;
  top: 50%; 
  left: 50%;
  bottom:10%;
  transform: translate(-50%, -50%);
  text-align: center;;
  padding: 10px;
  color:#fff;
  font-size: 24px;
}


.imageContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imageContainer img {
  width: 30%;
  margin-right: 10px;
}

.imagecont {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -8px;
  margin-right: -25px;
}

.imagecont img {
  width: 650px;
  height: 220px;
  margin-right: 10px;
}

.form {
  margin: 60px auto;
  max-width: 700px;
  padding: 0 20px;
  background-color: #f4f4f4;    
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  /* Added text color */
}

.form input[type="text"],
.form input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.form p {
  margin: 0;
    /* Remove margin */
    padding: 10px;
    /* Added padding */
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
}

.form button:hover {
  background-color: #0056b3;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: -9px;
  background-color: #929ca7;
  margin-left: -8px;
  margin-right: -8px;
}
.homePage {
  background-color:#929ca7 ;
  text-align: center;
  color:#000000;
  font-style: calc();
  
}
.imageContainer {
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  text-align: center;
  flex-basis: 30%;
}

.imageCaption {
  margin-top: 10px;
}
.image1 {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  bottom:30%;
  transform: translate(-50%, -50%);
  text-align: center;;
  padding: 10px;
  color:black;
  font-size: 24px;
}
.newtext-overlay {
  position: absolute;
  left: 50%;
  /* bottom:40%; */
  transform: translate(-50%, -50%);
  text-align: center;
  /* padding: 10px; */
  color:black;
  font-size: 20px;
}


.imageContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imageContainer img {
  width: 30%;
  margin-right: 10px;
}

.imagecont {
  display: flex;
  align-items:normal;
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -25px;
}

.imagecont img {
  width: 650px;
  height: 220px;
  margin-right: 10px;
}
.search-result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
    .search-result-card p {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

.left-content {
  float: left;
  text-align: left;
}

.right-content {
  float: right;
  text-align: right;
}

#fare {
  font-weight: bolder;
  font-size: larger;
}

.search-result-card button {
  border-radius: 5px;
  margin-top: 10px;
}
